{% extends 'base.html.twig' %}

{% block body %}
    <h2>Films disponibles</h2>
    <div class="film-list d-flex">
        {% for film in films %}
            <div class="film-card">
                <h3>{{ film.titre }}</h3>
                <p><strong>Prix :</strong> {{ film.prix ?? 'Non spécifié' }} €</p>
                {% if film.image %}
                    <img src="{{ asset('uploads/films/' ~ film.image) }}" alt="{{ film.image }}" style="max-width: 200px;">
                {% endif %}
                <br /> 
               <div class="mt-4">
                <a href="{{ path('app_film_show', {'id': film.id}) }}">Voir le détail</a>
               </div> 
            </div>
        {% else %}
            <p>Aucun film trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}
